.loginContainer,
.registerContainer {
    width: 400px;
    position: relative;
    margin: 50px auto;
}

button.googleSignUp {
    background: white;
    color: #444;
    width: 70%;
    height: 40px;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    transition: all ease-in-out .2s;
}

button.googleSignUp:hover {
    cursor: pointer;
    background-color: #4285f4;
}

button.googleSignUp:hover span {
    color: white;
}

button.googleSignUp span {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

button.googleSignUp img {
    width: 25px;
    height: 25px;
}